* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  background-color: white;
  color: #111827;
  transition: 0.3s;
}

.dark {
  background-color: #111827;
  color: white;
}